@font-face {
	font-family: "Lato";
	src: url("assets/Lato-Bold.ttf");
}

body {
	margin: 0;
}

header {
	width: 100%;
	height: 100%;
	background-color: #2d303a;
	margin: 0;
}
div.header {
	max-width: 1020px;
	min-height: 89px;
	margin: auto;
}
.header-bottom {
	max-width: 100%;
	height: 6px;
	background-color: #323746;
	margin: 0;
}

.main-logo {
	display: inline-block;			
	margin: 40px;
	font-size: 25px;
	line-height: 6px;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 700;
	text-align: left;
}

.main-logo .asterix {
	color:#f06c64;
}

.main-nav {			
	float: right;
	font-weight: 700;
	text-align: left;
	margin-top: 40px;
	margin-right: 25px;
}
.main-nav li {
	list-style-type:none;
	display: inline-block;
}
.main-nav li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 6px;
	font-family: "Lato";
	color: #ffffff;
	margin-left: 15px;
	margin-right: 10px;
}
.main-nav li a:hover {
	color: #f06c64;
}

main {
	position: relative;
}
.hidden-title {
	display:none;
}
section.slider {
	width: 100%;
	height: 100%;
	background-color: #f06c64;
}

div.slider {
	max-width: 1020px;
	height: 600px;
	margin: auto;
}

ul.slider {
	margin-top: 0px;
	display: flex;
	align-items: center; 
	position: relative;
	top: 60px;
}
ul.slider li {
	list-style-type:none;
	display: inline-block;
}
ul.slider li a {
	list-style-type:none;
	display: inline-block;
}
.slider-bottom {
	width: 100%;
	height: 15px;
	background-color: #ea676b;			
}

.slider li.left {
	margin-right: 40px;
}

.slider li.right {
	margin-left: 40px;
}
.slider li.arrow {
	opacity: 0.4;
}
.slider li.arrow:hover {
	opacity: 0.8;
}

.slider li.slide {
	margin-left: 25px;
	margin-right: 25px;
}

section.services {
	width: 100%;
	height: 100%;
	background-color: #f2f2f2;			
}
.services-bottom {
	width: 100%;
	height: 6px;
	background-color: #f2f2ff;
}

.our-services-section {
	position: relative;
	left: 40px;
	top: 30px;
	max-width: 1020px;
	margin: auto;
}

.our-services {
	font-size: 30px;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
	display: inline-block;
}

.our-services-descr {
	width: 90%;
	font-size: 18px;
	line-height: 30px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 300;
	text-align: left;
	display: block;
}

div.services {
	position: relative;
}

ul.services {	
	margin-top: 20px;
	padding: 0px;
	display: flex;
	align-items: center; 
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
}

ul.services li.service-box {
	list-style-type:none;
	display: inline-block;
	width: 300px;
	height: 90px;
	margin-bottom: 20px;
	margin-right: 20px;
}

ul.services li.service-icon {
	list-style-type:none;
	display: inline-block;
	width: 90px;
	height: 90px;
}

.service-description {
	width: 200px;
	height: 128px;
	font-size: 12px;
	line-height: 22px;
	color: #767e9e;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
}
.service-title {
	font-size: 18px;
	line-height: 18px;
	color: #666d89;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
	margin: 0px;		
}

img.service-icon {
	float: left;
	margin-right: 20px;
}

section.contact-form {
	width: 100%;
	height: 100%;
	background-color:  #f06c64;
}

div.contact-form {
	max-width: 1020px;
	min-height: 648px;
	margin: auto;
	position: relative;
    left: 40px;
    top: 40px;
}

div.contact-form-bottom {
	max-width: 100%;
	height: 6px;
	background-color: #ea676b;
}

div.contact-form h2 {
	font-size: 30px;
	line-height: 18px;
	color: #f0d8d9;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
	margin-top: 0px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-left: 10px;
}
div.contact-form .description {
	width: 90%;
	min-height: 57px;
	font-size: 18px;
	line-height: 30px;
	color: #f0d8d9;
	font-family: "Lato";
	font-weight: 300;
	text-align: left;
	padding-left: 10px;
}

div.contact-form form {
	position: relative;
	padding-left: 10px;
	display: grid;
	margin-bottom: 20px;
}

input.contact-form {
	max-width: 635px;
	height: 38px;
	border-radius: 5px;
	background-color: #d6564f;

	font-size: 12px;
	line-height: 22px;
	color: #f48c8f;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
	padding-left: 10px;
	margin-bottom: 20px;
}

form.contact-form input {
	margin-bottom: 20px;
}

::placeholder {
	font-size: 12px;
	line-height: 22px;
	color: #f48c8f;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
}

.contact-form-body {
	width: 619px;
	height: 202px;
	border-radius: 5px;
	background-color: #d6564f;

	font-size: 12px;
	line-height: 22px;
	color: #f48c8f;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
}

div.contact-form-info {
	margin-left: 40px;
	margin-bottom: 40px;
}

div.form ul {
	display: flex;
	padding-inline-start: 0;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
	margin-bottom: 0;
}

div.form li {
	list-style-type: none;
    display: inline-block;
}

h3.contact-form-info {
	font-size: 18px;
	line-height: 18px;
	color: #f0d8d9;
	font-family: "Lato";
	font-weight: 900;
	text-align: left;
	margin-top: 5px;
}

p.contact-form-info {
	max-width: 300px;
	font-size: 12px;
	line-height: 22px;
	color: #f0d8d9;
	font-family: "Lato";
	font-weight: 400;
	text-align: left;
	margin-top: 5px;
	margin-bottom: 0;
}

p.contact-form-info.text {
	margin-bottom: 20px;
}

img.contact-form-info {
	margin-right: 10px;
}

footer {
	width: 100%;
	height: 100%;
	background-color: #2d303a;
}

div.footer {
	margin: auto;
	max-width: 1020px;
	height: 76px;
	position: relative;
	left: 40px;
}

div.footer p {
	margin-top: 0;
	padding-top: 16px;
	color: #3c404f;
	display: inline-block;
}

ul.social-media {
	float: right;
	margin-right: 40px;
}

ul.social-media li {
	list-style-type: none;
	display: inline-block;
}

ul.social-media img {
	margin-left: 10px;
}